/* Centering content vertically and horizontally */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  /* Styling for the registration form container */
  .registration-container {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Styling for form labels */
  .registration-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  /* Styling for form inputs */
  .registration-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Styling for checkbox labels */
  .checkbox-label {
    display: inline-block;
    margin-left: 5px;
    font-weight: normal;
  }
  
  /* Styling for the registration button */
  .registration-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .registration-button:hover {
    background-color: #0056b3;
  }
  
  /* Styling for the login link */
  .login-link {
    display: block;
    text-align: center;
    margin-top: 10px;
  }
  
  /* Styling for the login button */
  .login-button {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
  }
  
  .login-button:hover {
    text-decoration: underline;
  }
  